.first_div {
  padding: 5% 10% 5% 10%;
}
.main_container {
  padding: 5%;
  background-color: #f1f1f1;
}
.item_content {
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.6px;
  float: left;
  text-align: justify;
  font-family: RBRegular !important;
  font-variant: tabular-nums;
  line-height: 1.5715;
}

h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-family: RBBold !important;
  color: #1f2128;
  letter-spacing: 2.13px;
  line-height: 38px;
  font-size: 30px;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #242e49 !important;
  font-family: RBBold !important;
  font-size: 20px !important;
  font-weight: bold !important;
  font-variant: tabular-nums !important;
  line-height: 1.5715 !important;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-tabs .ant-tabs-tab-btn {
  transition: ease-in 0.3s;
  color: rgba(36, 46, 73, 0.6196078431372549) !important;
  font-size: 20px !important;
  font-family: RBregular !important;
}

.ant-tabs-nav .ant-tabs-nav-line .ant-tabs-ink-bar {
  background-color: black !important;
}
.item_content {
  width: 65%;
  margin: 10px 10px;
}
.curosal-images {
  margin: 0 80px;
}
.second_div {
  margin: 0 0 100px 70px;
}
.heading_span {
 margin-bottom: 100px;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  .carousel {
    margin-bottom: 20px;
  }
  .item_content {
    width: 100%;
    padding: 0 20px 0 0;
  }
  .curosal-images {
    margin: 0;
  }
  .second_div {
    margin: 0 0 0 0;
  }
  .heading_span {
    margin-bottom:0px;
  }
}
